.auth-container {
  display: flex;
  padding: 40px 40px 100px 140px;
}

.auth-info-title {
  margin-top: 30px;
  font-size: 55px;
  line-height: 75px;
  letter-spacing: -0.015em;

  color: #263238;
}

.auth-info-subtitle {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;

  color: #9e9e9e;
}
