.category-card {
  padding: 20px 17px 18px 16px;
  vertical-align: middle;
  margin-bottom: 20px;

  h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.015em;
    vertical-align: middle;
    margin-top: 8px;
  }

  
}
