.name,.password, .email{
  display: flex;
  margin-bottom: 32px;
  display: flex;

  .first-name, .first-password{
    margin-right: 32px;
  }

}

.email{
  margin-bottom: 32px;
}

.checkbox{
  display: inline;
}