.product-details-container {
  margin: 40px 0px;
  padding: 0px 40px;

  .product-price-container {
    margin-top: 30px;
  }
}

.product-details {
  padding: 50px 60px 90px 90px;
}

.icon-goback {
  color: #407bff;
  transform: rotate(-180deg);
  margin-right: 30px;
}

.product-details-goback {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.text-goback {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #263238;
  text-transform: uppercase;
}

.product-details-info {
  display: flex;
  flex-direction: row;
}

.product-details-card {
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 38px 29px;
}

.product-details-image {
  width: 353px;
  height: 353px;
}

.product-description-title {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #9e9e9e;
  margin-bottom: 25px;
}

.product-description-text {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #9e9e9e;
}

.product-details-name {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.015em;
  margin-top: 35px;
}

.product-details .product-price {
  font-size: 48px;
}

//tablet
@media (max-width: 768px) {
  .product-details {
    display: flex;
    flex-direction: column;
  }

  .product-details-info{
    flex-direction: column;
  }

  .product-details-card{
    width: 530px;
    margin: 0 auto;
  }

  .product-details{
    flex-direction: column;
  }

  .product-info-fields{
    border: 0px;
    padding: 0px 10px;
    margin-bottom: 40px;
    width: 530px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .product-description-text{
    width: 460px;
  }
}

@media (max-width: 676px){
  .product-details-container{
    margin-top: 5px;
    padding: 10px;
  }

  .product-details{
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .product-details-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .product-details-image{
    width: 200px;
    height: 200px;
  }

  .product-info-fields{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-description-text{
    width: 90%;
  }

}