.home-container {
  margin-top: 40px 0px;
  padding: 40px 40px 40px 40px;
  //padding: 0px 40px;
}

.home-content {
  display: flex;
  flex-direction: row;
  padding: 155px 0px 100px 100px;
}

.text-title {
  font-size: 55px;
  line-height: 75px;
  letter-spacing: -0.015em;
}

.text-subtitle {
  color: #9e9e9e;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #9e9e9e;
  margin-top: 30px;
  margin-bottom: 150px;
}

.main-image {
  width: 100%;
}

//tablet
@media (max-width: 768px) {
  .home-content {
    width: 100%;
    flex-direction: column-reverse; //mantem no formato coluna mas altera a ordem
    //dos elementos
    align-items: center;
    padding: 0 20px 50px 20px;
  }
  .main-image {
    width: 350px;
    margin: 0px 0px -20px -60px;
  }
  .home-text {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  .text-title {
    font-size: 2.5em;
    text-align: center;
    line-height: 50px;
    letter-spacing: 0;
  }
  .text-subtitle{
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
    margin: 40px 0px;
  }
}

//mobile
@media (max-width: 576px) {
  .home-content{
    flex-direction: column-reverse;
    padding: 0px;
  }

  .main-image{
    width: 70vw !important;
    margin: -100px 0px -80px -80px;
  }

  .text-title{
    font-size: 1.5rem;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0;
  }

  .text-subtitle{
    font-size: 0.7em;
    text-align: center;
    font-weight: 400;
    margin: 40px 0px;
  }
}
