.product-card{
  width: 245px;
  padding-top: 20px;
  padding: 20px 20px 30px 20px;
  text-align: center;
}

.product-info{
  border-top: 1px solid #E1E1E1;
  text-align: left;
  padding-top: 15px;
  margin-top: 15px;
}

.product-name{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
}

.product-price-container{
  margin-top: 25px;
  display: flex;
}

.product-currency{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #9E9E9E;
}

.product-price{
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.015em;
  color: #407BFF;
  margin-left: 10px;
}